<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About our Website</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>About our website</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sequi velit dolorem temporibus quasi nihil laudantium hic earum quod? Nam, eligendi! Fugit ea accusamus optio temporibus quam placeat distinctio perspiciatis mollitia, voluptatem recusandae eius labore deleniti error delectus obcaecati, harum sit ut! Nostrum, excepturi soluta quidem culpa natus perferendis labore.</p>
        <button>Contact Us</button>
    </div>
</body>
</html>