<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>Welcome to our website</h1>

        <form action="/index/" method="POST">
            {% csrf_token %}

            <input type="checkbox" value="True" name="check">
            <button>Send</button>

        </form>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sequi velit dolorem temporibus quasi nihil laudantium hic earum quod? Nam, eligendi! Fugit ea accusamus optio temporibus quam placeat distinctio perspiciatis mollitia, voluptatem recusandae eius labore deleniti error delectus obcaecati, harum sit ut! Nostrum, excepturi soluta quidem culpa natus perferendis labore.</p>
        <button>Contact Us</button>
        

        <!-- Accessing dynamic data -->
        {% if isActive %}
        <div>
        <h1>Today date is {{date}}</h1>
        <h1>Name is {{name}}</h1>
        <hr>
        <h1>Student Data</h1>
        <h2>Student name : {{student_data.student_name}}</h2>
        <h2>Student college : {{student_data.student_college}}</h2>
        <h2>Student city : {{student_data.student_city}}</h2>
        <hr>
        <h1>Favorite Programs</h1>
        {% for p in list_of_programs %}
        <h3>{{p}}</h3>
        {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
</html>